@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
bodY {
  @apply transition-all duration-1000;
}
html {
  @apply bg-[#ffffff] text-zinc-800 h-full w-full transition-colors duration-300 ease-in-out; /*  dark:bg-[#171717] dark:text-[#f5f5f5] */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html.dark {
  @apply bg-[#171717] text-white transition-colors duration-300 ease-in-out font-sans antialiased;
}

.container {
  @apply max-w-7xl mx-auto px-6;
}
.container1 {
  @apply max-w-7xl mx-auto px-6 md:px-24;
}
.link {
  @apply cursor-pointer;
}
.heading1 {
  background: linear-gradient(0deg, #000, #5b5b5b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.dark .heading1 {
  background: linear-gradient(0deg, #f5f5f5, #d4d4d4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.heading2 {
  background: linear-gradient(180deg, #000, #5b5b5b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.dark .heading2 {
  background: linear-gradient(180deg, #f5f5f5, #d4d4d4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
